# Maven / build
target/
*.class

# IntelliJ
.idea/
*.iml
out/

# VS Code
.vscode/

# Eclipse
.project
.classpath
.settings/

# Mac / Windows
.DS_Store
Thumbs.db

# Logs
*.log

# Spring Boot
*.pid
*.seed
*.pid.lock

# Env
.env
application-local.properties
application-dev.properties
